td {
	background-color: red;
}

#title {

	color: white;
}

#mon-6am{
	background-color: green;
}

.time {

	background-color: white;
}

.day {

	background-color: white;
}

body {

	background-color: white;
}