
		#mainPhotoDiv {
			background-image: url("sprinterPhoto.jpg");
			height: 400px; /* You must set a specified height */
  			background-position: center; /* Center the image */
  			background-repeat: no-repeat; /* Do not repeat the image */
 			background-size: cover; /* Resize the background image to cover the entire container */
		}
		#menuDiv{
			
			width: 100%;
			position: relative;
  			display: inline-block;
		}
		body {
			
		
		}
		#aboutMeHeading {
			text-align: center;
		}
		#aboutMe {
			font-size: 15pt;
			padding: 25px 50px 50px 50px;
			font-family: Helvetica;
			font-style: italic;
		} 
		#contactInfoDiv {
			background-image: url(rhysRugby1.jpg);
			background-size: cover;
			background-repeat: no-repeat; /* Do not repeat the image */
			height: 75px;
			padding: 0px 50px 50px 50px;
		}
	/* Dropdown Button */
	#dropButton {
	  background-color: #4CAF50;
	  color: white;
	  padding: 16px;
	  font-size: 16px;
	  border: none;
	 
	
	}
	/* Dropdown Content (Hidden by Default) */
	#dropDownDiv {
	  display: none;
	  position: absolute;
	  background-color: #f1f1f1;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}
	/* Links inside the dropdown */
	#dropDownDiv a {
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	}
	/* Change color of dropdown links on hover */
	#dropDownDiv a:hover {background-color: #ddd;}
	/* Show the dropdown menu on hover */
	#menuDiv:hover #dropDownDiv {display: block;}
	/* Change the background color of the dropdown button when the dropdown content is shown */
	#menuDiv:hover #dropButton {background-color: #3e8e41;}
	#contactInfoList {
		text-align: center;
	}
	#contactInfoList {
		list-style-type: none;
		font-weight: bold;
	}
	#logo {
		width: 50px;
		height: 50px;
		
	
	}
	#logoSpan {
		padding-left: 250px;
	}
	#aboutMeText {
	}